*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #171616;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.wrapper{
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    align-items: center;

}
.logo{
    margin-top: 2.5rem;
    font-weight: 600;
}
.decs{
    margin-top: 2.8rem;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    width: 20rem;
    height: 31rem;
    align-items: center;
    margin-top: 2.63rem;
    margin-right: 3rem;
    background-color: #151C20;
    border-radius: 1rem;
}
.card__img{
    width: 12.5rem;
    height: 16.8rem;
}
img{
    width: 100%;
    height: 100%;
    margin:  1.5rem 3.75rem;
}
.card__name{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.card__info{
    text-align: center;
}
.card:hover{
    transition: 0.6s;
    transform: translateY(-1rem);
}
.selected__card{
    font-size: 1rem;
    text-align: center;

}